{% extends 'home.html' %}
{% block content %}
{% load static %}

<div class="container ">

<nav class="navbar navbar-expand-lg navbar-light bg-light w-200 height-150"  >

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto ">
			<li><a href="base/"><img class="w-300" height="130" width="200" src="{% static 'base.avif' %}" alt=""></a></li>

		</ul>
		<form class="form-inline my-2 my-lg-0">
			<div class="dropdown">
				<button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Profile
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="/newpost">New Post</a>
					<a class="dropdown-item" href="/mypost">My Posts</a>
					<a class="dropdown-item" href="{% url 'author_create' %}">Create Author</a>
					<a class="dropdown-item" href="{% url 'author_list' %}">Author's List</a>
					<a class="dropdown-item" href="/signup">Sign Out</a>

				</div>
			</div>
		</form>
	</div>

</nav>

<div class="container custom-container" style="max-width: 1350px; ">
        {% for post in posts%}
	<article class="media content-section">

		<div class="media-body" style="border: 1px solid rgb(158, 48, 48); padding: 23px; margin-bottom: 10px;">
			<div class="article-metadata">
<h6 class="text-uppercase" style="text-align:left;float:left; color: #c057ae;">Author's Name:-  {{ post.author }}</h6>
				<h5 style="text-align:right;float:right;">{{ post.date_posted|date:"F d, Y" }}</h5>
				<hr style="clear:both;" />

			</div>
			<h3 class="text-uppercase" style="color: rgb(37, 57, 63); text-decoration:underline;">{{ post.title }}</h3>
			<p class="article-content">{{ post.content | truncatewords:30 }}</p>
<br>
			<a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Read More</a>


			<br><br>
		</div>
	</article>
	{% endfor %}
</div>

</div>
{% endblock %}