{% extends 'home.html' %}
{% block content %}
<div class="container" style="max-width: 1350px;">

    <h2>{{ post.title }}</h2>

    <div class="article-metadata">
        <h5 style="color: rgb(155, 78, 145);">Author:<a href="{% url 'author_detail' pk=post.author.pk %}">{{ post.author.name }}</a>
            {{ post.author }}</h5>
        <h6 style="color: rgb(77, 102, 148);">Date Posted: {{ post.date_posted|date:"F d, Y" }}</h6>
        <a href="{% url 'author_detail' pk=post.author.pk %}" class="btn btn-primary">View Author Details</a>

    </div>
    <hr>

    <p style="background-color: rgb(241, 228, 238);">{{ post.content }}</p>
    <hr>

    <h4>Add a Comment:</h4>
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'post_detail' post.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Post Comment</button>
        </form>
    {% else %}
        <p>You must <a href="{% url 'login' %}">log in</a> to leave a comment.</p>
    {% endif %}
    <hr>

    <h4>Comments:</h4>
    <div class="comments">
        {% for comment in comments %}
            <div class="comment">
                <strong>{{ comment.author }}:</strong> {{ comment.content }}
                <small>{{ comment.date_posted|date:"F d, Y " }}</small>

            </div>
        {% empty %}
            <p>No comments yet. Be the first to comment!</p>
        {% endfor %}
        <a href="{% url 'base' %}" class="btn btn-primary">Back to Base Page</a>

   </div>
</div>
{% endblock %}
